.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height:500px;
  width: 100%;
}
.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}

.editorWrap {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.copyBtn {
  background: white;
  color: black;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.leaveBtn {
  background: #3b49df;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

